.dlr-toggle-container {
    text-align: center;

    .toggle-switch {
        position: relative;
        display: inline-block;
        text-align: left;
        top: 0;

        .checkbox {
            display: none;
        }

        .label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border: 0 solid #bbb;
            border-radius: 20px;
            height: 31px;
        }

        .inner {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .inner:before,
        .inner:after {
            float: left;
            width: 50%;
            height: 36px;
            padding: 0;
            line-height: 36px;
            color: #fff;
            font-weight: bold;
            box-sizing: border-box;
            font-size: 14px;
        }

        .inner:before {
            content: attr(data-before);
            padding-left: 10px;
            background-color: #4da3ff;
            color: #fff;
        }

        .inner:after {
            content: attr(data-after);
            padding-right: 10px;
            background-color: #bbb;
            color: #fff;
            text-align: right;
        }

        .switch {
            display: block;
            width: 18px;
            margin: 5px;
            background: #fff;
            position: absolute;
            top: 0px;
            bottom: 0;
            border: 0 solid #bbb;
            border-radius: 20px;
            transition: all 0.3s ease-in 0s;
            height: 62%;
        }
    }

    .checkbox:checked + .label .inner {
        margin-left: 0;
    }

    .checkbox:checked + .label .switch {
        right: 0px;
    }
}
